
li.tab {
  border-style:solid;
  border-width:1px;
  border-top-right-radius:8px;
  border-top-left-radius:8px;
  background-color:#FAF0E6;
  color:#545861;
}

/* CONF-28415 */
form.editor .editor-default,
.editor-fullheight {
    height: 100%;
    height: auto\9; /* IE8 */
} 

#forgot-password {
    display:none;
}


